
*{
    font-family: "Poppins", sans-serif;
    font-size: 12px;
}
:root{

    --color-bc: #ECECEC;
    --color-primary:#111;
    --color-1:#ECECEC;
    --color-2:#ECECEC;
    --color-3:#111;
    --color-text:#757575;
    --color-navbar:#363636;
    --color-blue_1:#005954;
    --color-blue_2:#338b85;
    --color-blue_3:#d5ffff;
} 

body{
background-color: var(--color-1);
}

.navbar{
    
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    align-items: center;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 10px;
    z-index: 2;
    background-color: var(--color-navbar);
    
}
.navbar div{
    align-items: center;
    display: flex;
    gap: 10px;
    padding-right: 20px;
}

.navbar a{
    font-weight: bold;
    text-decoration: none;
    color: var(--color-text);
    transition: .5s;
    cursor: pointer;
}
.navbar a:hover{
    transition: .5s;
    background: linear-gradient(45deg,#ECECEC,#a0a0a0,#d5ffff);
    background-size: 400% 100%;
    animation: degretitle 10s linear infinite alternate;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.active{

    background: linear-gradient(45deg,#ECECEC,#a0a0a0,#d5ffff);
    background-size: 400% 100%;
    animation: degretitle 10s linear infinite alternate;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sideimages div{
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    width: 280px;
    min-height: 300px;
    font-size: 13px;
    gap: 1rem;
    color: var(--color-1);
    font-weight: bolder;
}

.sideimages{
    border-radius: 15px;
    background-color: var(--color-navbar);
    max-width: 500px;
}

.sideimagescontainer{
    display: flex;
    gap: 2rem;
    overflow-x: scroll;
}

.sideimagescontainerservices{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
}

.sideimagescontainer::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

.sideimagescontainer::-webkit-scrollbar-track {
  background: transparent;
}

.sideimagescontainer::-webkit-scrollbar-thumb {
  background-color: var(--color-1);
  border-radius: 20px;

}

.sideimagescontainerservices .sideimages{
    height: 380px;
    transition: .7s;
    cursor: pointer;
}
.sideimagescontainerservices .sideimages:hover{
    height: 400px;
    border-right: 1px solid var(--color-text);
    border-bottom: 1px solid var(--color-text);
    opacity: .9;
    transition: .7s;
    z-index: 1;
}

.sideimagescontainerservices .sideimages div p{
    writing-mode: vertical-rl;
    font-size: 30px;
    padding-top: 10px;
    background: linear-gradient(45deg,#ECECEC,#a0a0a0,#d5ffff);
    background-size: 400% 100%;
    animation: degretitle 10s linear infinite alternate;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sideimagescontainerservices .sideimages div img{
    width: 190px;
    height: 350px;
    object-fit: cover;
    background: linear-gradient(45deg,#00E3CC,#32A89C,#009688,#44E3D3);
    background-size: 400% 100%;
    animation: degretitle 10s linear infinite alternate;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
body::-webkit-scrollbar-track {
    background: transparent;
  }
  
body::-webkit-scrollbar-thumb {
    background-color: var(--color-1);
    border-radius: 20px;
  
  }


.container{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.container .title{
    font-family: "Poppins", sans-serif;
    font-size: 23px;
    color: var(--color-primary);
    font-weight: bold;
    text-align: center;
    background: linear-gradient(45deg,#00E3CC,#32A89C,#009688,#44E3D3);
    background-size: 400% 100%;
    animation: degretitle 10s linear infinite alternate;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container .content{
    display: flex;
    color: var(--color-primary);
    align-self: center;
    max-width: 1050px;
    text-align: justify;
    gap: 2rem;
    flex-direction: column;
}
.container .box .content{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    flex-direction: column !important;
}

.container .content .aboutusimg{
    width: 300px;
    align-self: center;
}

.sideimagesprom div{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
    font-size: 13px;
    gap: 1rem;
    color: var(--color-text);
    font-size: 16px;
    font-weight: bold;
}


.box{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    /* background-color: var(--color-3); */
    border-top:2px solid var(--color-blue_2);
    border-bottom: 2px solid var(--color-blue_2);
    padding: 20px;
    border-radius: 20px;
    color: var(--color-primary);
}


.box iframe{
    display: flex;
    align-self: center;
    width: 300px;
    height: 200px;
  }

#linkinsta, #linkwpp{
    color: var(--color-primary);
    text-decoration: none;
    transition: .5s;
}
#linkinsta:hover{
    color: purple;
    transition: .5s;
}

#linkwpp:hover{
    color: darkgreen;
    transition: .5s;
}

#img_home{
    display: flex;
    align-self: center;
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
}

@media only screen and (min-width: 800px) {
    .container .content{
        display: flex;
        flex-direction: row;
    }
    .container .content img{
        width: 600px;

    }
    .sideimagescontainerservices{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        cursor: pointer;
    }
    .sideimagescontainerservices::-webkit-scrollbar {
        width: 5px;
        height: 10px;
      }
      
      .sideimagescontainerservices::-webkit-scrollbar-track {
        background: transparent;
      }
      
      .sideimagescontainerservices::-webkit-scrollbar-thumb {
        background-color: var(--color-1);
        border-radius: 20px;
      
      }
      .box iframe{
        width: 800px;
        align-self: baseline;
        height: 300px;
      }
      .caixa{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    *{
        font-size: 16px;
    }

}


#title{
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    color: var(--color-primary);
    width: fit-content;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-self: center;
    width: 400px;
    background: linear-gradient(45deg,#00E3CC,#32A89C,#009688,#44E3D3);
    background-size: 400% 100%;
    animation: degretitle 10s linear infinite alternate;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (min-width: 800px) {
    #title{
        font-size: 40px;
        width: 600px;
    }
}

@keyframes degretitle {
    0%{
        background-position-x: 0%;
    }

    100%{
        background-position: 400%;
    }
}

.caixa{
    border: var(--color-blue_1) 2px solid;
    padding: 20px;
    background-color: rgba(187, 190, 239,0.5);
    display: flex;
    font-weight: bold;
    gap: 1rem;
    color: var(--color-blue_1) !important;
}
.caixa form #marca{
    border: var(--color-blue_1) 1px solid;
    color: var(--color-blue_1);
}
.caixa div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}
.caixa input[type="text"]{
    border: 1px solid var(--color-blue_1);
    height: 20px;
}
.caixa div img{
    border: 2px solid var(--color-blue_1);
    width: 100px;
    height: 100px;
}
.caixa #searched div:hover{
    background-color: var(--color-blue_1);
}
.caixa form input[type="submit"]{
    color: var(--color-blue_3);
    background-color: var(--color-blue_1);
    padding: 5px;
    border: none;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}
.caixa form input[type="submit"]:hover{
    color: var(--color-blue_1);
    background-color: var(--color-blue_3);
    transition: .5s;
}

.caixa img{
    border: 2px solid var(--color-blue_1);
    width: 600px;
    height: 600px;
}
.listaimg{
    overflow-y: scroll;
    max-height: 500px;
}

.listaimg div{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: .5rem;
    border: var(--color-blue_1) 2px solid;
    padding: 10px;
    background-color: rgba(187, 190, 239,0.5);
}
.listaimg div img{
    width: 150px;
    height: 150px;
}
.listaimg button{
    color: var(--color-blue_3);
    background-color: var(--color-blue_1);
    padding: 5px;
    border: none;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}
.listaimg input[type="text"]{
    border: 1px solid var(--color-blue_1);
    height: 20px;
}

.listaimg button:hover{
    color: var(--color-blue_1);
    background-color: var(--color-blue_3);
    transition: .5s;
}
@media only screen and (min-width: 800px) {
    .caixa div img{
        width: 300px;
        height: 300px;
    }
}

.contentgaleria .galeri{
    display: flex;
    flex-wrap: wrap;
    margin-top: 200px;
    gap: 2rem;
    justify-content: center;
}

.contentgaleria .galeri img{
    width: 300px !important;
    height: 320px !important; 
    transition: .5s;
}

.contentgaleria .galeri img:hover{
    width: 300px;
    height: 320px;
    opacity: 0.9;
    transition: .5s;
}
.contentgaleria h3{
    font-size: 22px;

}
.carrossel{
    display: flex;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}
.carrossel img{
    width: 0px;
    height: 440px;

}
.title{
    font-family: "Poppins", sans-serif;
    font-size: 23px;
    color: var(--color-primary);
    font-weight: bolder;
    text-align: center;
    background: linear-gradient(45deg,#00E3CC,#32A89C,#009688,#44E3D3);
    background-size: 400% 100%;
    animation: degretitle 10s linear infinite alternate;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (min-width: 800px) {

    .contentgaleria .galeri img{
        width: 400px !important;
        height: 420px !important;
        transition: .5s;
    }
    .contentgaleria .galeri img:hover{
        width: 400px !important;
        height: 420px !important;
        opacity: 0.9;
        transition: .5s;
    }
    .carrossel img{
        width: 0px;
        height: 440px;
    }

}

.prodcontainer{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 500px;
}
.prodcontainer div [class='bi bi-x-lg']{
    position: relative;
    display: flex;
    align-self: flex-end;
    cursor: pointer;

}
.prodcontainer div [class='bi bi-x-lg']:hover{
    color: red;
}
.prodcontainer div{
    background-color: var(--color-1);
    padding: 15px;
    max-width: 370px !important;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    color: var(--color-primary);
    margin: 5px;
    transition: .5s;
}
.desc{
    display: none;
    text-align: justify;
    transition: .5s;
}
.prodcontainer div .insidediv{
    display: flex;
    flex-direction: column;
    transition: .5s;
}
.prodcontainer .searched{
    max-width: 330px !important;
}
.prodcontainer .searched:hover{
    transition: .5s;
    padding: 5px;
    border: 2px solid var(--color-blue_2);
    transition: .5s;

}
.prodcontainer .pointer{
    cursor: pointer;
    transition: .5s;
}
.prodcontainer .pointer:hover{
    color: darkgreen;
    transition: .5s;
}

.prodcontainer .pointer2{
    cursor: pointer;
    transition: .5s;
}
.prodcontainer .pointer2:hover{
    color: darkred;
    transition: .5s;
}

.prodcontainer img{
    border-radius: 15px;
    width: 300px;
    height: 300px;
}

.carrinho #total{
    color: var(--color-1);
}
.carrinho{
    display: flex;
    align-items: center;
    position: fixed;
    background-color: var(--color-primary);
    color: var(--color-1);
    padding: 15px;
    border-radius: 20px;
    right: 5%;
    bottom: 5%;
    transition: .5s;

    flex-direction: column;
}
.carrinho #x{
    color: var(--color-1);
}
.carrinho #c:hover{
    color:var(--color-blue_2);
    cursor: pointer;
}
.carrinho #x:hover{
    color: red;
    transition: .5s;
    cursor: pointer;
}

.prodcarrinho{
    transition: .5s;
    height: 0px;
    width: 0px;
    color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.prm{
    font-size: 20px;
    color: var(--color-primary);
}

.items{
    max-height: 300px;
    width: 200px;
    overflow-y: scroll;
}

.items p{
    display: flex;
    align-items: center;
    color: var(--color-1);
}

#carrinhoorcamento{
    transition: .5s;
    color: var(--color-1);
}

.carrinho #carrinhoorcamento:hover{
    cursor: pointer;
    color: green !important;
    transition: .5s;
}

.pd{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    color: var(--color-primary);
    width: 300px;
}
.pd #pesquisa{
    color: var(--color-1);
    background-color: var(--color-text);
    border-radius: 10px;
    border: none;
    padding: 10px;

}
.container .filtros{
    display: flex;
    gap: 1rem;
    color: var(--color-primary);
    border: var(--color-blue_2) 2px solid;
    width: fit-content;
    padding: 5px;
}
.container .filtros img{
    width: 70px;
    cursor: pointer;
    transition: .2s;
    height: 70px;
}
.container .filtros img:hover{
    border: 2px solid var(--color-blue_2);
    transition: .2s;
}

.container .filtros p:hover{
    color: darkred;
    cursor: pointer;
    transition: .5s;
}

.prod_name{
    font-size: 20px;
    font-weight: bolder;
    background: linear-gradient(45deg,#00E3CC,#32A89C,#009688,#44E3D3);
    background-size: 400% 100%;
    animation: degretitle 10s linear infinite alternate;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.prod_value{
    font-size: 20px;
    font-weight: bolder;
    color: var(--color-primary);
}

.box .serv{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box .serv svg{
    transition: .5s;
    cursor: pointer;
}
.box .serv svg:hover{
    color: var(--color-blue_2);
    transition: .5s;
}
.servbox{
    color: var(--color-primary);
    display: flex;
    width: 300px;
    gap: 1.5rem;
    flex-direction: column;
}
.servbox .valores{
    display: flex;
    flex-direction: column;
    color: var(--color-primary);
    overflow-y: scroll;
    max-height: 380px;
}
.servbox .valores p{
    padding-bottom: 3px;
    
}

.servbox div{
    display: flex;
    width: 400px;
    font-size: 10px;
}

.servbox video{
    width: 200px;
}

.general{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.desc{
    font-size: 15px;
}
.servbox .titleserv{
    font-size: 20px;
    font-weight: bolder;
    background: linear-gradient(45deg,#00E3CC,#32A89C,#009688,#44E3D3);
    background-size: 400% 100%;
    animation: degretitle 10s linear infinite alternate;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (min-width: 800px) {
  
    .container .filtros img{
        width: 120px;
        height: 120px;

    }
    .servbox{
        color: var(--color-primary);
        display: flex;
        width: 800px;
        align-self: center;

    }
    .servbox .titleserv{
        font-size: 30px;
    }
    .servbox .valores{
        display: flex;
        flex-direction: column;
        color: var(--color-primary);
        gap: 1.5rem;
    }
    .servbox div{
        display: flex;
        gap: 2rem;
        width: 800px;
    }
    .servbox .valores p{
        font-size: 17px !important;
    }

    .servbox video{
        width: 200px;
    }
    .general{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.desc{
    font-size: 14.9px;
}
}

.ProHair{
    background: transparent !important;
}

.Nuance{
    background: transparent !important;
}

.pesquisa{
    display: block;
    font-size: 15px !important;
    color: var(--color-primary) !important;
    background-color: transparent !important;
    cursor: pointer;
    padding: 5px !important;
    transition: .5s;
}
.pesquisa:hover{
    background-color: var(--color-blue_1) !important;
    padding: 8px !important;
    color: var(--color-blue_3) !important;
    transition: .5s;
}
#searched{

    padding: 0px;
    width: 0px;
    height: 0px;
    background-color: transparent !important;
    transition: 0px;
    overflow-y: scroll;
}
.container .downloadsbox{
    display: flex;
    flex-direction: column;
    border: #879200 solid 2px;
    padding: 10px;
    width: fit-content;
    align-self: center;
}
.container .downloadsbox p{
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 1rem;
}
.container .downloadsbox p img{
    box-shadow: #9c9c9c 1px 1px 1px 1px;
}
.container .downloadsbox p button{
    border: #879200 2px solid;
    padding: 7px;
    background-color:#fdff80 ;
    cursor: pointer;
    transition: .5s;
}
.container .downloadsbox p button:hover{
    background-color: #fcff4b;
    padding: 10px;
    transition: .5s;
}
.saibamais{
    font-weight: bold;
}
.imgprincipal{
    position: relative;
    display: inline-block;
}
