<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <div class="caixa">
        <form action="" method="post" enctype="multipart/form-data">
            <p>Código: <input type="text" name="code" id="code"></p>
            <select name="page" id="">
                <option value="inserir">Atualizar Produtos e Serviços</option>
                <option value="galeria">Atualizar Galeria</option>
                <option value="catalogo">Atualizar Catálogos</option>
                <option value="video">Atualizar Página de Dicas</option>
            </select>
            <input type="submit" value="Enviar">
        </form>
        <p style="color: green;">{{enviado}}</p>
    </div>
</body>
</html>