<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Atualizar</title>
</head>
<body>
    <div class="general">
    <div class="caixa">
        <form action="" method="post" enctype="multipart/form-data">
            Atualizar produtos
            <p>Produto: <input type="text" name="nome" id="nome" onkeyup="search(this.value)" onfocus="displayall()"></p>
            <div id="searched">{{prod_list | safe}}</div>
            <p>Descrição: <input type="text" name="descricao" id="desc"></p>
            <select name="marca" id="marca" onmouseover="changedisplayall()">
                <option value="ProHair" >Pro Hair</option>
                <option value="Nuance" >Nuance</option>
                <option value="Fluence" >Fluence</option>
            </select>
            <input type="file" name="arquivo" id="" width="300px" height="300px" onmouseover="changedisplayall()">
            <p onmouseover="changedisplayall()">Se deseja deletar o produto, insira 1: <input type="text" name="delete" id="" value=""></p>
            <input type="hidden" value="Não" name="promocao" id="promocao">
            <input type="submit" value="Atualizar">
        </form>
    <div>
    {{resp}}
    <img src="data:image/jpeg;base64,{{img}}" alt="" width="400px">
    <p>Produto: {{nomes}}</p>
    <p>Descrição: {{desc}}</p>
    <p>Marca: {{marca}}</p>
</div>
</div>
    <div class="caixa">
        <form action="" method="post" enctype="multipart/form-data">
            Atualizar Serviços
            <p>Serviço: <input type="text" name="servico" id="nome" onkeyup="search(this.value)"></p>
            <select name="classe" id="">
                <option value="Cabelo">Cabelo</option>
                <option value="Pele">Pele</option>
                <option value="Rosto">Rosto</option>
            </select>
            <input type="file" name="arquivo" style="display: none;">
            <p>Se deseja deletar o serviço, insira 1: <input type="text" name="delete_serv" id="" value=""></p>
            <input type="submit" value="Atualizar" name="submit_serv">
        </form>
    <div>
    {{resp_serv}}
    <p>Serviço: {{nome_serv}}</p>
    <p>Categoria {{categoria}}</p>
</div>
</div>

</div>
</div>
</div>
</body>
<script src="/static/js/script.js"></script>
</html>

