<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Downloads</title>
    <link rel="stylesheet" href="/static/css/homestyle.css">
</head>
<body>
        <div class="navbar">
        <img src="/static/archives/logo.png" alt="logo" width="120px" height="70px" onclick="document.getElementById('home').click()" style="cursor: pointer;">
        <div class="navbardown">
            <a href="/" class="active" id="home">Inicio</a>
            <a href="/produtos" id="produtos">Produtos</a>
            <a href="/servicos" id="servicos">Serviços</a>
            <a href="/"><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
              </svg></a>
        </div>
        <svg onclick="rollOutMobileNav()" xmlns="http://www.w3.org/2000/svg" id="mobile" width="25" height="25" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M3.5 10a.5.5 0 0 1-.5-.5v-8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 0 0 1h2A1.5 1.5 0 0 0 14 9.5v-8A1.5 1.5 0 0 0 12.5 0h-9A1.5 1.5 0 0 0 2 1.5v8A1.5 1.5 0 0 0 3.5 11h2a.5.5 0 0 0 0-1z"/>
            <path fill-rule="evenodd" d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708z"/>
        </svg>
    </div>
    <div class="downloadsbox">
        <div id="downloadExcel"><img src="/static/archives/ImgNuance.jpg" alt=""><p>Baixar catálogo Nuance</p></div>
        <div id="downloadExcelFluence"><img src="/static/archives/Fluence.jpg" alt=""><p>Baixar Catálogo Fluence</p></div>
        <div id="downloadPDF"><img src="/static/archives/ProHair_logo.jpg" alt=""><p>Baixar Catálogo Pro Hair</p></div>
        <div id="downloadBurana"><img src="/static/archives/Burana.jpg" alt="" ><p>Baixar Catálogo Burana</p></div>
</div>
</body>
<script src="/static/js/script_produtos.js"></script>
</html>
