<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="caixa">
        <form action="" method="post" enctype="multipart/form-data">
            Adicionar Imagem a Galeria
            <input type="file" name="imagem">
            <input type="file" name="arquivo" style="display: none;">
            <select name="carrossel" id="">
                <option value="np">Página</option>
                <option value="carrossel">Carrossel</option>
            </select>
            <input type="submit" value="Adicionar Imagem" name="submit_serv">
        </form>
        <img src="data:image/jpeg;base64,{{imagem}}" alt="" width="400px" >
    </div>

    <div class="listaimg">
        {{listaimg | safe}}
    </div>
</body>
<script src="/static/js/script.js"></script>
</html>