<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <title>Serviços</title>
</head>
<body>
    <div class="navbar">
        <img src="/static/archives/logo.png" alt="logo" width="120px" height="70px">
        <div>
            <a href="/" id="home">Inicio</a>
            <a href="/produtos" id="produtos">Produtos</a>
            <a href="/servicos" id="servicos" class="active">Serviços</a>
            <a href="/contato" id="contat">Contato</a>
        </div>
    </div>
    <div class="container">
        <div class="servbox">
            <div class="titleserv">Cabelo</div>
            <div>
                <div class="valores">
                    {{cabelo | safe}}
                </div>
                <video src="/static/archives/production_id 3997177 (2160p).mp4" muted autoplay loop></video>
            </div>
        </div>
        <div class="servbox">
            <div>
                <video src="/static/archives/pele_vid.mp4" muted autoplay loop ></video>
                <div class="valores">
                    {{pele | safe}}
                </div>
            </div>
                        <div class="titleserv">Pele</div>
        </div>
        <div class="servbox">
            <div class="titleserv">Tratamentos</div>
            <div>
                <div class="valores">
                    {{tratamentos | safe}}
                </div>
                <video src="/static/archives/production_id 3997176 (2160p).mp4" muted autoplay loop></video>
            </div>
        </div>
    </div>
</body>
<script src="/static/js/script.js"></script>
</html>